{% extends "layout.html.twig" %}
{% block body %}
{{ parent() }}
<div class="container">
	<div class="col-md-12">
			  
		<h2 class="sub-header">Usuarios</h2>
		<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
					<tr>
						<th>
							Usuario
						</th>
						<th>
							Nombre
						</th>
						<th>
							E-Mail
						</th>
						<th>
							Role
						</th>
						<th>
							Acciones
						</th>		
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<td>{{ user.usuario }}</td>
						<td>{{ user.nombre }}</td>
						<td>{{ user.email }}</td>
						<td>
							{% if user.role == "admin" %}
								<b>Administrador</b>
							{% elseif user.role == "user" %}
								<b>Usuario</b>
							{% endif %}
						</td>
						<td>
							<a href="#" class="btn btn-sm btn-info" />Ver</a> 
							<a href="#" class="btn btn-sm btn-primary" />Editar</a> 
							<a href="#" class="btn btn-sm btn-danger btn-delete" />Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>	
		</div>
	</div>	
</div>		
{% endblock %}